/* Write your CSS code here */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.website-logo {
  width: 200px;
}
.nav-list-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0px;
}
.nav-list-item {
  color: #64748b;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding-right: 15px;
}

.nav-list-item-button {
  border-style: none;
  border-radius: 7px;
  background-color: #0967d2;
  height: 35px;
  width: 80px;
  font-family: Roboto;
  font-weight: 400;
  color: #e2e8f0;
}
.link-item {
  color: #64748b;
  text-decoration: none;
}
.display-container-lg {
  display: flex;
}
.display-container-sm {
  display: none;
}
.sm-bg-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .display-container-lg {
    display: none;
  }
  .display-container-sm {
    display: flex;
    width: 40px;
  }
  .sm-bg-container {
    background-color: #e6f6ff;
    margin-top: 20px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.sm-images {
  width: 35px;
}
